.machine-faq .center {
  max-width: 1380px;
  margin: 0 auto;
}
.machine-faq__haed-content {
  padding: 40px 0 60px;
  text-align: center;
  line-height: 1.4;
}
.machine-faq__haed-content h2 {
  font-size: 40px;
}
.machine-faq__haed-content p {
  margin-top: 8px;
  font-size: 18px;
}
.machine-faq__haed-content .img-content {
  display: block;
  width: 100%;
  margin-top: 32px;
  padding-top: 31.8%;
  background-image: url(../images/machine-faq/img-keyvisual-pc.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .machine-faq__haed-content {
    max-width: 100%;
    padding: 28px 20px 12px;
  }
  .machine-faq__haed-content h2 {
    font-size: 22px;
  }
  .machine-faq__haed-content p {
    margin-top: 4px;
    font-size: 14px;
  }
  .machine-faq__haed-content p span {
    display: block;
  }
  .machine-faq__haed-content .img-content {
    margin-top: 20px;
    padding-top: 115.8%;
    background-image: url(../images/machine-faq/img-keyvisual-mo.png);
  }
}
.machine-faq__tap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #DDDDDD;
}
.machine-faq__tap button {
  position: relative;
  width: 50%;
  padding: 24px 0;
  color: #767676;
  font-size: 16px;
  line-height: 1;
}
.machine-faq__tap button.active {
  color: #000000;
  font-weight: 700;
}
.machine-faq__tap button.active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  height: 3px;
  background: #000000;
  content: "";
}
.machine-faq__inner-content {
  display: none;
  background-color: #F9F9F9;
}
.machine-faq__inner-content.show {
  display: block;
}
.machine-faq__inner-content .center {
  padding: 80px 0 100px;
}
.machine-faq__inner-content h3 {
  padding-bottom: 40px;
  color: #000000;
  font-size: 28px;
  text-align: center;
  line-height: 1.4;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .machine-faq__inner-content .center {
    padding: 40px 16px;
  }
  .machine-faq__inner-content h3 {
    padding-bottom: 24px;
    font-size: 22px;
  }
}
.machine-faq__item {
  padding: 32px 40px;
  background-color: #ffffff;
  border-radius: 28px;
}
.machine-faq__item + .machine-faq__item {
  margin-top: 24px;
}
.machine-faq__item h4 {
  padding-bottom: 24px;
  font-size: 28px;
  line-height: 1.4;
  border-bottom: 1px solid #DDDDDD;
}
.machine-faq__item p {
  padding-top: 24px;
  font-size: 16px;
  line-height: 1.6;
}
.machine-faq__item .block {
  display: block;
  font-weight: 700;
}
.machine-faq__item .bold {
  font-weight: 700;
}
.machine-faq__item .img-explain-content {
  display: block;
  width: 100%;
  margin-top: 32px;
  padding-top: 67.3%;
  background-image: url(../images/machine-faq/img-explain-pc.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.machine-faq__item .img-explain-text {
  padding: 24px 60px 0;
}
@media screen and (max-width: 1024px) {
  .machine-faq__item {
    padding: 20px;
    border-radius: 18px;
  }
  .machine-faq__item + .machine-faq__item {
    margin-top: 12px;
  }
  .machine-faq__item h4 {
    padding-bottom: 16px;
    font-size: 16px;
  }
  .machine-faq__item p {
    padding-top: 20px;
    font-size: 14px;
  }
  .machine-faq__item .img-explain-content {
    margin-top: 20px;
    padding-top: 277%;
    background-image: url(../images/machine-faq/img-explain-mo.png);
  }
  .machine-faq__item .img-explain-text {
    padding: 12px 0;
  }
}
.machine-faq__more-content p {
  color: #767676;
  font-size: 16px;
  line-height: 1.6;
}
.machine-faq__more-content a {
  display: inline-block;
  margin-top: 8px;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 1;
  font-weight: 700;
  border-radius: 500px;
  border: 1px solid #000000;
}
@media screen and (max-width: 1024px) {
  .machine-faq__more-content p {
    font-size: 14px;
  }
  .machine-faq__more-content a {
    margin-top: 12px;
  }
}
.machine-faq__other-content {
  margin: 100px 0;
}
.machine-faq__other-content .center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F9F9F9;
  border-radius: 28px;
}
.machine-faq__other-content .center > div {
  width: 50%;
  text-align: center;
}
.machine-faq__other-content h3 {
  font-size: 32px;
  line-height: 1.4;
  font-weight: 700;
}
.machine-faq__other-content p {
  margin-top: 16px;
  font-size: 18px;
  line-height: 1.4;
}
.machine-faq__other-content .links {
  margin-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 12px;
}
.machine-faq__other-content .links a {
  display: inline-block;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 700;
  border: 1px solid #000000;
  border-radius: 500px;
}
.machine-faq__other-content .img-content {
  display: block;
  width: 50%;
  padding-top: 27.3%;
  border-radius: 28px;
  background-image: url(../images/machine-faq/img-other-pc.png);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1024px) {
  .machine-faq__other-content {
    margin: 40px 0 195px;
  }
  .machine-faq__other-content .img-content {
    width: 100%;
    padding-top: 58.5%;
    background-image: url(../images/machine-faq/img-other-mo.png);
  }
  .machine-faq__other-content .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 16px;
    border-radius: 50px 50px 28px 28px;
  }
  .machine-faq__other-content .center > div {
    width: 100%;
    padding: 20px 16px 40px;
    text-align: center;
  }
  .machine-faq__other-content h3 {
    font-size: 18px;
  }
  .machine-faq__other-content p {
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: -0.5px;
  }
  .machine-faq__other-content .links {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 8px;
  }
  .machine-faq__other-content .links a {
    display: block;
    width: 100%;
    max-width: 298px;
  }
}