.machine-faq {
  .center {
    max-width: 1380px;
    margin: 0 auto;
  }

  &__haed-content {
    padding: 40px 0 60px;
    text-align: center;
    line-height: 1.4;

    h2 {
      font-size: 40px;
    }

    p {
      margin-top: 8px;
      font-size: 18px;
    }

    .img-content {
      display: block;
      width: 100%;
      margin-top: 32px;
      padding-top: 37.6%;
      background: {
        image: url(../images/machine-faq/img_keyvisual_pc.png);
        position: 0 0;
        size: cover;
        repeat: no-repeat;
      }
    }

    @media screen and (max-width: 1024px) {
      max-width: 100%;
      padding: 28px 20px 20px;
      

      h2 {
        font-size: 22px;
      }
  
      p {
        margin-top: 4px;
        font-size: 14px;
  
        span {
          display: block;
        }
      }
  
      .img-content {
        margin-top:20px;
        padding-top: 140%;
        background: {
          image: url(../images/machine-faq/img_keyvisual_mo.png);
        }
      }
    }
  }

  &__tap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #DDDDDD;

    button {
      position: relative;
      width: 50%;
      padding: 24px 0;
      color: #767676;
      font-size: 16px;
      line-height: 1;

      &.active {
        color: #000000;
        font-weight: 700;

        &::after {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          display: block;
          width: 100%;
          height: 3px;
          background: #000000;
          content :'';
        }
      }
    }
  }

  &__inner-content {
    display: none;
    background-color: #F9F9F9;

    &.show {
      display: block;
    }

    .center {
      padding: 80px 0 100px;
    }

    h3 {
      padding-bottom: 40px;
      color: #000000;
      font-size: 28px;
      text-align: center;
      line-height: 1.4;
      font-weight: 700;
    }


    @media screen and (max-width: 1024px) {
      .center {
        padding: 40px 16px;
      }

      h3 {
        padding-bottom: 20px;
        font-size: 22px;
      }
    }
  }

  &__item {
    background-color: #ffffff;
    border-radius: 28px;

    &.active {
      .machine-faq__content {
        display: block;
      }

      .machine-faq__title::after {
        transform: rotate(-135deg) translateY(-50%);
        right: 39px;
        margin-top: -10px;

        @media screen and (max-width: 1024px) {
          right: 19px;
        }
      }
    }

    + .machine-faq__item {
      margin-top: 24px;
    }

    .block {
      display: block;
      font-weight: 700;
    }

    .bold {
      font-weight: 700;
    }

    .img-explain-content {
      display: block;
      width: 100%;
      margin-bottom: 32px;
      padding-top: 67.3%;
      background: {
        image: url(../images/machine-faq/img_explain_pc.png);
        position: 0 0;
        size: cover;
        repeat: no-repeat;
      }
    }

    @media screen and (max-width: 1024px) {
      border-radius: 18px;

      + .machine-faq__item {
        margin-top: 12px;
      }

      .img-explain-content {
        margin-top: 20px;
        margin-bottom: 20px;
        padding-top: 277%;
        background: {
          image: url(../images/machine-faq/img_explain_mo.png);
        }
      }
      .img-explain-text {
        padding: 12px 0;
      }
    }
  }

  &__title {
    display: block;
    position: relative;
    padding: 32px 40px;
    width: 100%;
    font-size: 28px;
    text-align: left;
    line-height: 1.4;
    font-weight: 700;

    span {
      display: inline-block;
      padding-left: 35px;
    }

    &::before {
      display: inline-block;
      position: absolute;
      top: 32px;
      left: 40px;
      width: auto;
      height: auto;
      content: 'Q. ';   
    }

    &::after {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 48px;
      width: 11px;
      height: 11px;
      border-top: 2px solid #000000;
      border-left: 2px solid #000000;
      transform: rotate(45deg) translateY(-50%);
      content: '';
    }


    @media screen and (max-width: 1024px) {
      padding: 20px 44px 16px 20px;
      font-size: 16px;

      span {
        padding-left: 20px;
      }

      &::before {
        top: 20px;
        left: 20px;
      }

      &::after {
        top: 30px;
        right: 25px;
        width: 8px;
        height: 8px;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
   
      }
    }
  }

  &__content {
    display: none;
    position: relative;
    padding: 32px 40px 48px;
    font-size: 18px;
    line-height: 1.6;

    &::before {
      display: block;
      position: absolute;
      top: 0;
      left: 32px;
      right: 0;
      width: calc(100% - 80px);
      height: 1px;
      background-color: #dddddd;
      content: '';
    }

    @media screen and (max-width: 1024px) {
      padding: 20px;
      font-size: 15px;

      &::before {
        left: 20px;
        width: calc(100% - 40px);
      }
    }
  }

  &__more-content {
    padding-top: 24px;

    p {
      color: #767676;
      font-size: 16px;
      line-height: 1.6;
    }

    a {
      position: relative;
      display: inline-block;
      margin-top: 8px;
      padding: 14px 40px 14px 20px;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
      border-radius: 500px;
      border: 1px solid #000000;

      &::after {
        display: inline-block;
        position: absolute;
        top: 50%;
        right: 24px;
        width: 8px;
        height: 8px;
        margin-top: -3px;
        border-right: 1.5px solid #000000;
        border-top: 1.5px solid #000000;
        transform: rotate(45deg) translateY(-50%);
        content: '';
      }
    }

    @media screen and (max-width: 1024px) {
      p {
        font-size: 15px;
      }

      a {
        margin-top: 12px;
        padding: 14px 38px 14px 20px;
        font-size: 14px;

        &::after {
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  &__other-content {
    margin: 100px 0;

    .center {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #F9F9F9;
      border-radius: 28px;

      >div {
        width: 50%;
        text-align: center;
      }
    }

    h3 {
      font-size: 32px;
      line-height: 1.4;
      font-weight: 700;
    }

    p {
      margin-top: 16px;
      font-size: 18px;
      line-height: 1.4;
    }

    .links {
      margin-top: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 12px;

      a {
        display: inline-block;
        position: relative;
        padding: 14px 40px 14px 20px;
        font-size: 16px;
        line-height: 1;
        font-weight: 700;
        border: 1px solid #000000;
        border-radius: 500px;

        &::after {
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 24px;
          width: 8px;
          height: 8px;
          margin-top: -3px;
          border-right: 1.5px solid #000000;
          border-top: 1.5px solid #000000;
          transform: rotate(45deg) translateY(-50%);
          content: '';
        }
      }
      @media screen and (max-width: 1024px) {
        a {
          &::after {
            right: 55px;
            width: 6px;
            height: 6px;
            margin-top: -2.5px;
          }
        }
      }
    }

    .img-content {
      display: block;
      width: 50%;
      padding-top: 27.3%;
      border-radius: 28px;
      background: {
        image: url(../images/machine-faq/img-other-pc.png);
        position: 0 0;
        size: cover;
        repeat: no-repeat;
      }
    }

    @media screen and (max-width: 1024px) {
      margin: 20px 0 100px;

      .img-content {
        width: 100%;
        padding-top: 58.5%;
        background: {
          image: url(../images/machine-faq/img-other-mo.png);
        }
      }

      .center {
        flex-direction: column;
        margin: 0 16px;
        border-radius: 50px 50px 28px 28px;
  
        >div {
          width: 100%;
          padding: 20px 16px 40px;
          text-align: center;
        }
      }
  
      h3 {
        font-size: 18px;
      }
  
      p {
        margin-top: 8px;
        font-size: 14px;
        letter-spacing: -.7px;
      }
  
      .links {
        margin-top: 20px;
        flex-direction: column;
        gap: 8px;
        
  
        a {
          display: block;
          width: 100%;
          max-width: 298px;
        }
      }
    }
  }
}