@use './swiper';

$white :#ffffff;
$gray  :#222222;
$black :#000000;
$activeRed: #FD312E;
$descriptionColor: #FF5C00;
$textHighlight: #FFE1AD;
$textGray: #666666;

body {
  overflow: hidden;
}

.ellipis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; 
}

.lg-story {
  max-width: 1680px;
  margin: 0 auto;

  @media screen and (max-width: 1024px) {
    max-width: 100%;
    margin: auto;
  }

  .center {
    width: 100%;
    max-width: 1260px;
    margin: 0 auto;

    @media screen and (max-width: 1024px) {
      max-width: 100%;
      padding: 0 24px;
      box-sizing: border-box;
    }
  }

  .pc {
    display: block;

    @media screen and (max-width: 1024px) {
      display: none !important;
    }
  }

  .mo {
    display: none !important;

    @media screen and (max-width: 1024px) {
      display: block !important;
    }
  }

  &__head-content {
    position: relative;

    > img {
      width: 100%;
      max-height: 480px;
      object-fit: contain;
      object-position: left;
    }

    @media screen and (max-width: 1024px) {
      img {  
        height: 100%;
        max-height: unset;
      }
    }

    h2 {
      color: $white;
      font-size: 36px;
      line-height: 1.3;
      font-weight: 700;
      letter-spacing: -.4px;


      @media screen and (max-width: 1024px) {
        font-size: 22px;
      }
    }
  }

  &__inner {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 840px;
    height: 240px;
    flex-direction: column;
    background: $gray;
    padding: 48px 40px;

    p {
      margin-bottom: 33px;
      color: $white;
      font-size: 14px;
      font-weight: 400;

      span:nth-of-type(1) {
        position: relative;
        padding-right: 13px;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 6px;
          transform: translateY(-50%);
          width: 1px;
          height: 10px;
          background: rgba(255, 255, 255, 0.3);
        }
      }
    }

    @media screen and (max-width: 1024px) {
      position: relative;
      width: 100%;
      height: 37.4%;
      padding: 40px 24px;

      p {
        margin-bottom: 16px;
        font-size: 12px;
      }
    }
  }

  &__inner-desc {
    position: absolute;
    top: 0;
    right: 0;
    width: 240px;
    height: 280px;
    padding: 40px 28px;
    background: $descriptionColor;

    p {
      color: $black;

      &:nth-of-type(1) {
        margin-bottom: 120px;
        font-size: 14px;
        font-weight: 500;
        letter-spacing: -.4px;
        line-height: 19.6px;
      }

      &:nth-of-type(2) {
        width: 140px;
        height: 40px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @media screen and (max-width: 1024px) {
      display: flex;
      align-items: center;
      justify-content: center;
      top: unset;
      bottom: 127.5px;
      width: 36.7%;
      height: auto;
      aspect-ratio: 1;
      padding: 0;

      p {
        &:nth-of-type(1) {
          display: none;
        }

        &:nth-of-type(2) {
          width: 92px;
          height: 25px;
          margin-bottom: 0;
        }
      }
    }
  }

  &__detail-content {
    padding-top: 80px;

    @media screen and (max-width: 1024px) {
      padding-top: 40px;
    }

    .sub {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 40px;

      @media screen and (max-width: 1024px) {
        gap: 32px;
      }

      &__image {
        position: relative;

        img {
          width: 100%
        }

        @media screen and (max-width: 1024px) {
          width: 100vw;
        }
      }

      &__content {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 60px;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
        }
      }

      &__title {
        flex-basis: 380px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        @media screen and (max-width: 1024px) {
          flex-basis: auto;
        }
      }

      &__text {
        flex-basis: 380px;
        margin-bottom: 20px;

        .content__desc {
          font-size: 18px;
          line-height: 32.4px;
          text-align: justify;
          letter-spacing: -.4px;
        }

        @media screen and (max-width: 1024px) {
          flex-basis: unset;
          margin-bottom: 0;

          .content__desc {
            font-size: 14px;
            line-height: 25.2px;
          }
        }
      }

      &__desc {
        flex-basis: calc(100% - 440px);
        color: $gray;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.8;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          font-size: 14px;;
        }

        .sub__image {
          display: block;
        } 
      }
    }

    .highlight {
      display: inline;
      color: $black;
      font-weight: 500;
      box-shadow: inset 0 -40px 0 $textHighlight;
    }

    .content {
      padding-bottom: 80px;

      @media screen and (max-width: 1024px) {
        padding-bottom: 40px;
      }

      &__type {
        display: inline-block;
        position: relative;
        padding-bottom: 16px;
        font-size: 12px;
        line-height: 1;
        font-weight: 400;
        letter-spacing: 6px;

        span {
          padding: 0 12px;
        }
      }

      &__title {
        display: block;
        margin-bottom: 40px;
        font-size: 30px;
        line-height: 1.4;
        letter-spacing: -.4px;
        font-weight: 700;

        @media screen and (max-width: 1024px) {
          font-size: 20px;
          margin-bottom: 16px;
        }
      }
    }

    .brand {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 20px;
      padding: 0;

      &__img {
        width: 100px;
        height: 100px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      &__text {
        p {
          margin-bottom: 3px;
          font-size: 18px;
          font-weight: 700;
          line-height: 25.2px;
          letter-spacing: -0.4px;
        }

        span {
          font-size: 16px;
          line-height: 25.6px;
          font-weight: 400;
          letter-spacing: -0.4px;
        }
      }

      @media screen and (max-width: 1024px) {
        gap: 16px;
        padding: 0 24px 0;
        align-items: flex-start;

        &__img {
          width: 56px;
          height: 56px;
        }

        &__text {
          p {
            margin-bottom: 4px;
            font-size: 16px;
            line-height: 22.4px;
          }

          span {
            font-size: 12px;
            line-height: 19.2px;
          }
        }
      }
    }

    .main-description {
      .sub__content {
        align-items: flex-start;
      }
    }

    .side {
      position: relative;
      padding: 60px 0;
      background-color: $gray;
      margin-bottom: 80px;

      @media screen and (max-width: 1024px){
        padding: 40px 0;
        margin-bottom: 40px;
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: $gray;
        content :'';
      }

      &::before {
        left: -100%;
      }

      &::after {
        right: -100%;
      }

      .content {
        &__type {
          color: $white;

          &::after {
            display: none;
          }
        }

        &__title {
          color: $white;
        }
      }

      .tap {
        &__buttons {
          background-color: $white;
        }

        &__container img{
          opacity: 0;
          transition: .5s all ease;

          &:nth-child(1) {
            opacity: 1;
          }
        }
      }

      button{
        color: $gray;
        transition: .3s all ease;

        &:nth-child(1) {
          color: $white;
        }
      }

      .move-button {
        transform: translateX(0);
        background-color: $gray;
      }

      .pc {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 30px;
      }

      .mo {
        width: 100%;
        padding: 0 24px;
        box-sizing: border-box;
      }

      &.bg-type {
        .move-button {
          transform: translateX(100px);
        }

        .tap button {
          &:nth-child(1) {
            color: $gray;
          }

          &:nth-child(2) {
            color: $white;
          }
        }

        .tap__container img{
          &:nth-child(2) {
            opacity: 1;
          }
        }
      }

      .sub__image-wrap{
        position: relative;
      }

      .type {
        display: inline-block;
        position: absolute;
        left: 50%;
        bottom: 32px;
        padding: 10px 28px;
        color: $white;
        font-size: 16px;
        line-height: 1.2;
        letter-spacing: -.4px;
        font-weight: 700;
        transform: translateX(-50%);
        border: 2px solid $white;
        border-radius: 100px;
        text-align: center;

        @media screen and (max-width: 1024px) {
          bottom: 24px;
          padding: 10px 16px;
          font-size: 10px;
        }
      }

      .gradient {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 120px;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);

      }

      p {
        flex-basis: 420px;
        text-align: center;
      }

      img {
        width: 100%;
      }

      .move-button {
        display: inline-block;
        position: absolute;
        top: 2px;
        left: 2px;
        width: 100px;
        height: 36px;
        background-color: $gray;
        border-radius: 100px;
        transition: .2s all ease-in;
      }
    }

    .bg-yellow{
      position: relative;
      padding: 60px 0;

      @media screen and (max-width: 1024px) {
        padding: 48px 0;

        &::before, &::after {
          display: none;
        }
      }

      &::before,
      &::after {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
      }

      &::before {
        left: -100%;
      }

      &::after {
        right: -100%;
      }  
    }


    .bg-yellow {
      background-color: #F0ECE4;

      &::before,
      &::after {
        background-color: #F0ECE4;
      }
    }

    .tap {
      &__container {
        position: relative;

        @media screen and (max-width: 1024px) {
          padding: 145% 24px 0 24px;

          img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            transition: .3s all ease-in;
          }
        }
      }

      &__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 204px;
        margin: 32px auto;
        border-radius: 100px;
      }

      button {
        width: 100px;
        height: 36px;
        margin: 2px;
        padding: 8px 0;
        border-radius: 100px;
        color: $gray;
        font-size: 14px;
        line-height: 1.4;
        text-align: center;
        font-weight: 700;
        letter-spacing: 1.2px;
        box-sizing: border-box;
        z-index: 9;
      }
    }

    .model {
      position: absolute;
      top: 50%;
      right: 50px;
      padding: 40px 20px;
      text-align: center;
      transform: translateY(-50%);

      &::before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(999,999,999,.2);
        backdrop-filter: blur(25px);
        border-radius: 20px;
        z-index: 5;
        content: '';
      }

      * {
        display: block;
        position: relative;
        color: $white;
        z-index: 9;
      }

      >div {
        @media screen and (max-width: 1024px) {
          width: calc(100% - 136px);
          text-align: left;
        }
      }

      img {
        width: 163px;
        margin: 0 auto;

        @media screen and (max-width: 1024px) {
          width: 120px;
          margin: inherit;
        }
      }

      &__number {
        margin-top: 4px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 350;
        opacity: 0.6;
      }

      &__title {
        margin-top: 8px;
        font-size: 24px;
        line-height: 1.3;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          margin-top: 29px;
          height: inherit;
          font-size: 15px;
        }
      }

      &__price {
        margin-top: 38px;
        font-size: 20px;
        line-height: 1.4;
        font-weight: 700;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          margin-top: 12px;
          font-size: 14px;
        }
      }

      a {
        display: block;
        width: 100%;
        margin-top: 60px;
        padding: 16px 85px;
        font-weight: 700;
        background-color: $activeRed;
        border-radius: 60px;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          margin-top: 41px;
          padding: 10px 0;
          font-size: 14px;
          text-align: center;
        }
      }

      @media screen and (max-width: 1214px) {
        > img {
          width: 110px;
        }

        .model__price {
          margin-top: 16px;
        }
      }
      @media screen and (max-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 16px;
        width: initial;
        min-width: 312px;
        top: unset;
        bottom: 254px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px 16px;
      }

      @media screen and (max-width: 332px) {
        bottom: 278px;
      }
    }

    .footer {
      border-top: 1px solid $black;
      padding-top: 32px;

      .sub__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 160px;

        @media screen and (max-width: 1024px) {
          gap: 24px;
        }
      }

      .bold {
        display: block;
        padding-bottom: 8px;
        height: 24px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.4;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          font-size: 14px;
        }
      }

      .text {
        display: flex;
        align-items: flex-start;
        flex-basis: 840px;
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: -.4px;
        gap: 40px;

        >span {
          flex: 1;
        }

        @media screen and (max-width: 1024px) {
          flex-basis: 100%;
          font-size: 14px;
        }
      }

      @media screen and (max-width: 1024px) {
        flex-direction: column;
      }
    }

    .products {
      align-items: flex-start;
      gap: 20px;

      
      h3 {
        font-size: 24px;
        font-weight: 500;
      }

      .swiper {
        width: 100%;
      }

      .swiper-slide {
        width: 300px;

        img {
          width: 100%;
          height: 300px;
          border-radius: 16px;
        }

        .other__title {
          font-size: 18px;
          font-weight: 500;
          padding-top: 16px;
        }

        .other__desc {
          padding-top: 4px;
          color: $textGray;
          font-size: 14px;
          font-weight: 400;
        }

        @media screen and (max-width: 1024px) {
          width: calc(50% - 6px);

          img {
            height: unset;
          }

          .other__title {
            padding-top: 12px;
            font-size: 14px;
          }

          .other__desc {
            font-size: 12px;
          }
        }
      }

      .swiper-pagination {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 7px;
        margin-top: 40px;

        .swiper-pagination-bullet {
          width: 8px;
          height: 8px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 50%;
          transition: all 0.15s ease-in-out;

          &-active {
            width: 24px;
            border-radius: 20px;
            background: #000;
          }
        }

        @media screen and (max-width: 1024px) {
          margin-top: 30px;
          gap: 8px;

          .swiper-pagination-bullet {
            width: 6px;
            height: 6px;

            &-active {
              width: 20px;
            }
          }
        }
      }

      .swiper-scrollbar {
        height: 2px;
        margin-top: 40px;
        background: rgba(0, 0, 0, 0.1);

        .swiper-scrollbar-drag {
          height: 2px;
          background: $black;
        }
      }

      @media screen and (max-width: 1024px) {
        gap: 16px;
        
        h3 {
          font-size: 18px;
        }
      }
    }

    .lifezip {
      .sub__content {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: center;
        gap: unset;
      }

      &__img {
        flex-basis: 300px;

        img {
          width: 100%;
          object-fit: cover;

          @media screen and (max-width: 1024px) {
            aspect-ratio: 1 / 1;
          }
        }
      }

      &__desc {
        position: relative;
        flex-basis: calc(100% - 300px);
        padding: 60px;
        background: #F5F5F5;
        letter-spacing: -.4px;

        .block {
          font-weight: 400;
        }

        @media screen and (max-width: 1024px) {
          padding: 24px 24px 92px;
        }

        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 5px;
          position: absolute;
          top: 60px;
          right: 60px;
          width: 158px;
          height: 40px;
          line-height: 40px;
          font-size: 14px;
          color: $white;
          background: $black;
          border-radius: 60px;

          i {
            display: inline-block;
            width: 10px;
            height: 10px;
            background: {
              image: url(../images/story_life/ico_button_arrow.png);
              position: 0 0;
              size: contain;
              repeat: no-repeat;
            };
          }
          @media screen and (max-width: 1024px) {
            top: auto;
            left: 24px;
            right: 24px;
            bottom: 32px;
            width: auto;
            font-size: 14px;
            font-weight: 500;
            border-bottom: 1px solid $black;
          }
        }

        h4 {
          font-size: 30px;
          font-weight: 700;
          line-height: 42px;

          @media screen and (max-width: 1024px) {
            margin: 0 0 4px;
            font-size: 20px;
            font-weight: 700;
            line-height: 28px;
          }
        }

        p {
          position: relative;
          margin-bottom: 8px;
          padding-top: 32px;
          font-size: 16px;
          font-weight: 700;
          line-height: 22.4px;

          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #DDDDDD;
          }

          @media screen and (max-width: 1024px) {
            padding-top: 16px;
            font-size: 14px;
            line-height: 19.6px;
          }
        }
      }

      &__sub-title {
        display: inline-block;
        margin: 4px 0 32px;
        color: $descriptionColor;
        font-size: 16px;
        font-weight: 500;
        line-height: 25.6px;

        @media screen and (max-width: 1024px) {
          margin-bottom: 16px;

          .block {
            display: block;
          }
        }
      }

      &__other-text {
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        line-height: 25.6px;
        color: $textGray;

        .block {
          display: block;

          @media screen and (max-width: 1024px) {
            width: 312px;
            white-space: pre-line;  
          }
        }

        @media screen and (max-width: 1024px) {
          font-size: 14px;
          line-height: 22.4px;
          font-weight: 500
        }
      }

      @media screen and (max-width: 1024px) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    .tag {
      align-items: flex-end;
      padding-bottom: 80px;

      ul {
        display: flex;
        align-items: center;
        gap: 8px;

        li {
          padding: 12px 20px;
          background-color: $white;
          color: $textGray;
          font-size: 14px;
          line-height: 1.2;
          border-radius: 60px;
          border: 1px solid #DDDDDD;

          @media screen and (max-width: 1024px) {
            padding: 8px 16px;
            font-size: 12px;
          }
        }

        @media screen and (max-width: 1024px) {
          gap: 8px 4px;
          flex-wrap: wrap;
          justify-content: end;
        }
      }

      @media screen and (max-width: 1024px) {
        padding-bottom: 40px;
      }
    }

    .other {
      display: block;
      text-align: left;
      padding: 80px 0;

      h3 {
        padding-bottom: 20px;
        color: $black;
        font-size: 24px;
        line-height: 1.4;
        font-weight: 500;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          padding-left: 24px;
          padding-bottom: 16px;
          font-size: 18px;
        }
      }

      ul {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 30px;

        li {
          width: 33.3%;
        }

        img {
          width: 100%;
        }
      }

      &__type {
        display: flex;
        align-items: center;
        padding-top: 24px;

        > span {
          display: flex;
          align-items: center;
          font-size: 14px;
          line-height: 1.2;

          &:nth-child(1)::after {
            display: inline-block;
            width: 1px;
            height: 8px;
            margin: 3px 5px auto;
            background-color: rgba(0,0,0,.3);
            content: '';
          }

          @media screen and (max-width: 1024px) {
            font-size: 12px;
          }
        }

        @media screen and (max-width: 1024px) {
          padding-top: 20px;
        }
      }

      &__title {
        display: block;
        padding-top: 12px;
        color: $black;
        font-size: 24px;
        line-height: 1.4;
        letter-spacing: -.4px;

        @media screen and (max-width: 1024px) {
          padding-top: 8px;
          font-size: 20px;
        }
      }

      &__desc {
        display: block;
        padding-top: 24px;
        color: $black;
        font-size: 14px;
        line-height: 1.4;

        @media screen and (max-width: 1024px) {
          padding-top: 16px;
          font-size: 12px;
        }
      }

      .image-swiper {
        box-sizing: border-box;

        a {
          display: block;
        }

        img {
          width: 100%;
        }

        @media screen and (max-width: 1024px) {
          margin-left: 24px;
        }
      }

      .swiper-slide {
        padding: 0 7.5px;

        @media screen and (max-width: 1024px) {
          padding: 0 7.5px;
        }
      }

      @media screen and (max-width: 1024px) {
        padding: 48px 0 40px;
      }
    }
  }
}